<div class="row row-main">
    <% if @articles %>
      <% @articles.each do |article| %>
        <div class="content_post">
          <div class="content_image">
            <%= image_tag article.image, class: 'content_icon' %>
          </div>
          <div class="content_right">
            <div class="content_title">
            <%= simple_format(article.title) %>
            </div>
            <div class="content_text">
            <%= simple_format(article.text) %>
            <span class="name"><%= article.user.name %></span>        
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <div class="page">
    <%= paginate(@articles) %>
  </div>
</div>