<div class="row row-main">
  <div class="new-content">
    <%= form_with url: articles_path, method: :post, model: @article, local: true do |form| %>
      <% if @article.errors.any? %>
        <div class="alert">
          <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <h3>
        P O S T
      </h3>
      <%= form.text_field :title, placeholder: "title" %>
      <%= form.text_field :image, placeholder: "image URL" %>
      <textarea cols="30" name="text" placeholder="text" rows="10" class="textarea"></textarea>
      <div class="btn-sent">
        <%= submit_tag 'SENT', class: "btn" %> 
      </div>
    <% end %>
  </div>
</div>