<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">My BL●G</a>
        <% if user_signed_in? %>        
          <ul id="nav-mobile" class="right side-nav">
            <li><%= link_to "Post", new_article_path, class: 'post' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right side-nav">
            <li><%= link_to "Signup", new_user_registration_path, class: 'post' %></li>
            <li><%= link_to "Login", new_user_session_path, class: 'post' %></li>
          </ul>
        <% end %>
        <!-- Include this line below -->
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
        <!-- End -->
      </div>
    </nav>
    <%= yield %>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">My BL●G</h5>
                <p class="grey-text text-lighten-4">Love the life you live. Live the life you love.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 right">Thank you.</a>
            </div>
          </div>
        </footer>
  </body>
</html>